
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Email</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
</head>
<body>
    <body>
        <table style="border-collapse: collapse;border:0px #EEEEEE solid;max-width: 600px !important; margin-left:auto; margin-right:auto; width:100%" cellspacing="0" cellpadding="10" border="0">
            <tbody>
                <tr>
                    <td style="border-top: 0px solid #EEEEEE;padding-top: 0;padding-bottom: 55px;" valign="top">
                        <table style="min-width: 100%;border-collapse: collapse;" width="100%" cellspacing="0" cellpadding="0" border="0">
                            <tbody>
                                <tr>
                                    <td style="padding-top: 9px; padding-bottom: 10px;" valign="top">
                                        <table style="max-width: 390px;border-collapse: collapse;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;" width="100%" cellspacing="0" cellpadding="0" border="0" align="left">
                                            <tbody>
                                                <tr>
                                                    <td style="padding-top: 0;/* padding-left: 18px; *//* padding-right: 18px; */color: #656565;font-family: 'Open Sans', sans-serif;text-align: left;" valign="top">
                                                        <img style="width: 90px; margin: 0px;border: 0;outline: none;" alt="Logo" src="@ViewBag.BASEURL/content/mail/logo.png">
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <table style="/*! background-color:#EEE; */">
                            <tbody>
                                <tr>
                                    <td style="
                                        padding-right: 15px;" align="left">
                                        <p style="margin-bottom: 0px;font-family: 'Open Sans';font-size: 15px;color: #252c3f;font-weight: 700;line-height:1.4;margin-top: 20px;">Hi User, </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <table style="border-collapse:separate" width="100%" cellspacing="0" cellpadding="0" border="0">
                                            <tbody>
                                                <tr>
                                                    <td style="padding-right: 15px;width:100%;vertical-align:top;text-align:left" width="100%" valign="top" align="left">
                                                        <p style="margin:0;color:#454f69;font-weight:300;font-size:14px;line-height:1.4;text-align:left;font-family: 'Open Sans';margin-top: 10px;">
                                                            You can change your password by clicking on reset link below:
                                                        </p>
                                                        <p style="padding-bottom: 20px; margin:0;color:#454f69;font-weight:300;font-size:14px;line-height:1.4;text-align:center;font-family: 'Open Sans';margin-top: 40px;">
                                                            <a style="color:#cf5529; text-decoration: underline; cursor: pointer;" href="@ViewBag.callbackurl">Change your password</a>
                                                        </p>

                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <table width="100%">
                            <tbody>
                                <tr>
                                    <td>
                                        <p style="font-family: 'Open Sans' ;
                                           font-size: 17px;
                                           color: #454f69;
                                           line-height: 1.8;
                                           ">Best Regards,<br>Team Support</p>
                                        <p style="padding-top: 20px; margin:0;color:#9ba4bc;font-weight:300;font-size:14px;line-height:1.4;text-align:left;font-family: 'Open Sans';margin-top: 10px;margin-bottom: 10px;">
                                            Follow us:
                                        </p>
                                        <p style="margin:0;color:#9ba4bc;font-weight:300;font-size:14px;line-height:1.4;text-align:left;font-family: 'Open Sans';margin-top: 10px;margin-bottom: 10px;">
                                            <a style="font-size: 26px;color: #000;padding-right:10px" href=""><span><img src="@ViewBag.BASEURL/content/mail/facebook.png"></span></a>
                                            <a style="font-size: 26px;color: #000;padding-right:10px" href=""><span><img src="@ViewBag.BASEURL/content/mail/twitter.png"></span></a>
                                            <a style="font-size: 26px;color: #000;padding-right:10px" href=""><span><img src="@ViewBag.BASEURL/content/mail/google-plus.png"></span></a>
                                            <a style="font-size: 26px;color: #000;padding-right:10px" href=""><span><img src="@ViewBag.BASEURL/content/mail/instagram.png"><span></a>
                                        </p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>


    </body>
</body>
</html>